google-api-python-client
python-telegram-bot
requests
testresources
oauth2client
progress
progressbar2
httplib2shim
google_auth_oauthlib
google-auth-httplib2
tenacity
python-magic
pyfiglet==0.8.post1
rich==10.6.0
